/* ---------- MAIN GRID SQUARE ---------- */
.grid {
    margin: auto;
    height: 300px;
    width: 300px;
    background-color:lightgray ;
    display: flex;
    flex-wrap: wrap;
}

/* ---------- SMALL SQUARES TO FILL THE GRID ---------- */

.grid div {
    height: 30px;
    width: 30px;
    font-size: 12px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: outset;
}

/* ---------- SQUARES CLICKED ON & WITHOUT A BOMB ---------- */

.checked {
    background-color: lightgreen;
}

/* ---------- SQUARES RIGHT-CLICKED ---------- */

.flagged {
    background-color: lightskyblue;
    color: navy;
}

/* ---------- PLAY AREA SECTION ---------- */

.section-play-area {
    margin-bottom: 10vh;
}

/* ---------- RESET BUTTON ---------- */

#play-again-button {
    margin: 10px;
}

/* ---------- INSTRUCTIONS BUTTON ---------- */

#instructions-button {
    margin: 10px;
}

/* ---------- GAME OVER MESSAGE FOR WIN OR LOSE ---------- */

#game-result-div {
    margin: 10px;
}

#game-result {
    margin: auto;
}