/* ---------- FONT ---------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

/* ---------- MAIN GRID SQUARE ---------- */
.grid {
    margin: auto;
    height: 300px;
    width: 300px;
    background-color:lightgray ;
    display: flex;
    flex-wrap: wrap;
}

/* ---------- SMALL SQUARES TO FILL THE GRID ---------- */

.grid div {
    height: 30px;
    width: 30px;
    font-size: 12px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: outset;
}

/* ---------- PLAY AREA SECTION ---------- */

.section-play-area {
    margin-bottom: 10vh;
}

/* ---------- RESET BUTTON ---------- */

#play-again-button {
    margin: 10px;
}

/* ---------- INSTRUCTIONS BUTTON ---------- */

#instructions-button {
    margin: 10px;
}

/* ---------- GAME OVER MESSAGE FOR WIN OR LOSE ---------- */

#game-result-div {
    margin: 10px;
}

#game-result {
    margin: auto;
}